.App {
    background-color:bisque;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: brown; 
}

.note {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: blue;
    margin-top: 10;
}

.user-details {
    text-align: center;
}

* {
    margin-top: 0;
}